/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: #f8f8f8;
    color: #333;
    line-height: 1.6;
}

/* Container principal */
#page {
    max-width: 900px;
    margin: auto;
    padding: 20px;
}

/* Seção principal */
#about {
    text-align: left;
    padding: 40px 0;
}

#about p {
    color: #d9534f;
    font-weight: bold;
    text-transform: uppercase;
}

#about h1 {
    font-size: 2.5em;
    color: #222;
    margin-bottom: 15px;
}

#about img {
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

#about figcaption {
    font-size: 0.9em;
    font-style: italic;
    text-align: center;
    color: #777;
    margin-top: 10px;

}

/* Seção de história */
#history {
    background-color: white;
    padding: 30px;
    border-radius: 10px;
    margin-top: 40px;
}

#history p:first-child {
    color: #d9534f;
    font-weight: bold;
    text-transform: uppercase;
}

#history h2 {
    font-size: 1.8em;
    margin: 10px 0;
}

/* Seção de tours */
#tours {
    margin-top: 40px;
}

#tours h3 {
    font-size: 1.4em;
    color: #222;
    margin-top: 20px;
}

#tours img {
    width: 100%;
    border-radius: 10px;
    margin-top: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilização da seção "Bom para:" */
.recommendations p {
    font-weight: bold;
    color: #333;
    margin-bottom: 5px;
}

.recommendations ul {
    padding-left: 20px; 
}

.history-list li {
    color: #0C51A7;
    font-weight: bold;
    margin-left: 15px;
}

.recommendations li {
    font-weight: bold;
    margin-left: 15px;
    margin-bottom: 5px;
}

/* Mantém os pontos de lista pretos */
.recommendations, li::marker {
    color: black;
}

/* Estilização das cores específicas para o texto */
.casais {
    color: purple;
}

.familias {
    color: red;
}

.orcamento {
    color: orange;
}

#description {
    text-align: center;
    max-width: 900px;
    margin: 20px auto;
    padding: 0 20px; 
}
    
/* Rodapé */
footer {
    text-align: center;
    padding: 20px;
    font-size: 0.9em;
    margin-top: 40px;
    background-color: #fff;
    border-top: 2px solid #ddd;
}

footer img {
    width: 16px;
    vertical-align: middle;
}